.customers-section {
  padding: 60px 0px;
}

.customers-section__header {
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  font-size: 28px;
  padding-bottom: 30px;
}

.customers {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
  padding: 0;
  justify-content: space-around;
  flex-wrap: wrap;
}
.customers__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(175, 177, 184, 1);
  height: 92px;
  border-radius: 4px;
  width: 100%;
  flex-wrap: wrap;
  width: calc((100% - 30px) / 2);

  &:hover svg,
  &:focus svg {
    fill: var(--blue);
    cursor: pointer;
    border-color: var(--blue);
  }

  &:hover,
  &:focus {
    border-color: var(--blue);
    cursor: pointer;
  }
}

.customers__list--icons {
  height: 60px;
  fill: var(--silver);
}

@media screen and (min-width: 768px) {
  .customers__list {
    width: calc((100% / 3) - 27px);
  }
}

@media screen and (min-width: 1200px) {
  .customers-section {
    padding: 90px 0;
  }
  .customers-section__header {
    font-size: 36px;
    padding-bottom: 50px;
  }

  .customers {
    flex-wrap: wrap;
  }

  .customers__list {
    width: calc((100% / 6) - 27px);
  }
}
