.footer {
  background-color: var(--background);
  flex-direction: row;
  display: flex;
}

.footer__wrapper {
  padding: 60px 0;
  display: flex;
}

.footer__address {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin: 0;
  list-style-type: none;
}

.footer__address--location {
  color: var(--main-white);
  padding-top: 20px;
  margin: 0;

  &:hover,
  &:focus {
    color: var(--blue);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer__address--contact {
  padding-bottom: 9px;
  color: var(--silver);

  &:hover,
  &:focus {
    color: var(--blue);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.page-name__title--white {
  color: var(--main-white);

  &:hover,
  &:focus {
    color: var(--blue);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 480px) {
  .page-name {
    display: flex;
    justify-content: center;
    // width: 154px;
    // padding: 0;
  }

  .footer__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }
  .page-name__footer {
    margin: 0 auto;
  }
}
