.footer {
  background-color: var(--background);
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer__container {
  padding: 0;
}

.footer__wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin: 0;
  list-style-type: none;
}

.footer__address--location {
  color: var(--main-white);
  padding-top: 20px;
  margin: 0;

  &:hover,
  &:focus {
    color: var(--blue);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer__address--contact {
  padding-bottom: 9px;
  color: var(--silver);

  &:hover,
  &:focus {
    color: var(--blue);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.page-name__title--white {
  color: var(--main-white);

  &:hover,
  &:focus {
    color: var(--blue);
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-name__footer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .footer__wrapper--properties {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 60px 0;
    max-width: 100%;
  }
  .footer__container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 15px;
  }
  .footer__wrapper--properties {
    display: flex;
    flex-direction: row;
  }

  .footer__menu {
    margin-top: 0;
    margin-bottom: 0;
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-left: 100px;
  }

  .page-name__footer {
    justify-content: left;
    padding-bottom: 0px;
  }

  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    flex-wrap: nowrap;
  }

  .footer__address {
    padding-bottom: 0px;
    justify-content: left;
    align-items: flex-start;
  }
}
