.header {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header__menu {
  display: flex;
  flex-direction: row;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .header {
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
  }
}
