.header {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header__menu {
  display: flex;
  flex-direction: row;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .header {
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header__menu {
    display: flex;
    justify-content: space-between;
    
    margin: 0 auto;
  }
}
