.image-section {
  height: 600px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-mob@1x.jpg);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .image-section {
    background-image: linear-gradient(
        0deg,
        rgba(48, 49, 59, 0.4) 0%,
        rgba(48, 49, 59, 0.4) 100%
      ),
      url(../images/bg-mob@2x.jpg);
      background-size: cover;
  }
}

.image-section__container {
  padding: 0;
}

.image-section__text {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 200px 0px 30px 0px;
  margin: 0;
}
.image-section__text--properties {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white);
  color: var(--main-white);
  margin: auto;
}

.image-section__button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.image-section__button--features {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: var(--main-white);
  background-color: var(--blue);
  border-style: none;
  border: 0;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}
