.mobile-menu {
  display: none;
}
.mobile-menu__open-button {
  display: none;
}

@media screen and (max-width:768px) {
  .mobile-menu {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: var(--main-white);
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001f;
    position: relative;
    margin: auto;
    opacity: inherit;
    visibility: inherit;
    transition-property: visibility, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu__content {
    display: flex;
    flex-direction: column;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--main-white);
    z-index: 4;
  }

  .mobile-menu__open-button {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 700px;
    top: 10px;
    border: none;
    color: transparent;
    margin: 0;
    padding-right: 20px;
    padding: 0;

    &:hover,
    &:focus {
      color: var(--blue);
    }

    &:hover svg,
    &:focus svg {
      fill: var(--blue);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .mobile-menu__open-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: var(--main-white);
  }

  .mobile-menu__content {
    width: 100vw;
    height: 100vw;
  }

  .modal-menu__close-button {
    position: absolute;
    background-color: var(--main-white);
    border: none;
    cursor: pointer;
    right: 25px;
    top: 21px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: var(--blue);
    }
  }

  .mobile-menu__close-button--icon {
    cursor: pointer;
    background-color: var(--blue);
    border-style: none;
    border: 0;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    padding: 0;
    margin-left: 12px;
  }

  .mobile-menu-navigation {
  }

  .mobile-menu-navigation__item {
  }
}
