.modal {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--main-white);
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  position: relative;
  margin: auto;
  opacity: inherit;
  visibility: inherit;
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__content {
  margin: 40px;
}

.modal__title {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}

.modal__fieldset {
  padding: 0;
  display: flex;
  position: relative;
  margin-top: 28px;
  margin-bottom: 28px;
  border-radius: 4px;
  height: 40px;
  max-width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  &:hover .modal__fieldset--icons {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--blue);
  }

  &:hover {
    border-color: var(--blue);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__fieldset--label {
  position: absolute;
  top: -19px;
  left: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--silver);
}

.modal__fieldset--icons {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 13.5px 14px 13.5px;
}

.modal__fieldset--input-content {
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border: transparent;
  width: 100%;
  outline: none;

  &::placeholder {
    font-family: roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__textarea-fieldset {
  display: flex;
  position: relative;
  margin-top: 28px;
  margin-bottom: 28px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  &:hover {
    border-color: var(--blue);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__checkbox {
  position: relative;
  cursor: pointer;
}

.modal__checkbox--input {
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0;
  cursor: pointer;

  &:checked ~ .modal__checkbox--svg {
    opacity: 0;
    border: 1px solid var(--silver);
  }
  &:checked ~ .modal__checkbox--svg {
    opacity: 1;
    border: 1px solid var(--silver);
  }

  &:checked ~ .modal__checkbox--svg .modal__checkbox--icon {
    opacity: 1;
  }
}

.modal__checkbox--svg {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  display: block;
  transition: opacity 0.2s;
  opacity: 1;
  left: 10px;
  top: 2px;
  border: 1px solid var(--silver);
}

.modal__checkbox--icon {
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: var(--blue);
  cursor: pointer;
  opacity: 0;
}

.modal__checkbox--terms {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: var(--silver);
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  padding-left: 40px;
}

.modal__checkbox--underline {
  color: var(--blue);
  text-decoration: underline var(--blue);
  cursor: pointer;
}

.modal__button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 40px;
}

.modal__button--properties {
  cursor: pointer;
  background-color: var(--blue);
  border-style: none;
  border: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: 12px;
}

.modal__button--text {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-white);
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
}

.modal__close-button--icon {
  color: var(--black);
}

.modal__close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 430px;
  top: 8px;
}

.modal__close-button--properties {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: var(--main-white);

  border: 1px solid rgba(0, 0, 0, 0.1);
}
