.newsletter {
  width: 570px;
  padding: 0;
  margin-left: 78px;
  border: none;
  margin-top: 10px;
}

.newsletter__header {
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: rgba(255, 255, 255, 1);
  padding: 0;
}

.newsletter__form {
  display: flex;
  margin-top: 20px;
}

.newsletter__input {
  display: flex;
  width: 358px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: var(--main-white);
  outline: none;

  & ::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    padding-left: 16px;
  }

  &:hover {
    border-color: var(--blue);
    outline-style: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.newsletter__button {
  cursor: pointer;
  background-color: var(--blue);
  border-style: none;
  border: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: 12px;
}

.newsletter__button--text {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-white);
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  display: flex;
  padding-left: 42px;
}

.newsletter__button--icon {
  width: 24px;
  height: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 480px) {
  .newsletter {
    padding-top: 60px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .newsletter__form {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .newsletter__input {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 0 auto;
    width: 450px;
  }

  .mobile-newsletter_button {
    display: flex;
    padding-top: 20px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
}
