.newsletter {
  padding: 0;
  border: none;
  padding-top: 60px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter__header {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  color: rgba(255, 255, 255, 1);
  padding: 0;
  display: flex;
}

.newsletter__form {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.newsletter__input {
  display: flex;
  width: 450px;
  height: 50px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: var(--main-white);
  outline: none;
  margin-bottom: 20px;

  & ::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }

  &:hover {
    border-color: var(--blue);
    outline-style: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.newsletter__button {
  cursor: pointer;
  background-color: var(--blue);
  border-style: none;
  border: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.newsletter__button--text {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-white);
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  display: flex;
}

.newsletter__button--icon {
  width: 24px;
  height: 24px;
  padding-left: 24px;
}
@media screen and (min-width: 768px) {
  .newsletter__input {
    width: 500px;
  }

  .newsletter {
    margin: 0 auto;
  }

   .newsletter__button {
      justify-content: center;
      margin: 0 auto;  
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter {
    padding: 0;
    max-width: calc(100% - 215px);
    flex-wrap: wrap;
  }

  .newsletter__form {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .newsletter__input {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 0 auto;
    max-width: 358px;
    flex-wrap: wrap;
  }

  .mobile-newsletter_button {
    display: flex;
    padding-left: 15px;
    margin: 0 auto;
  }

  .newsletter__header {
    width: 100%;
    justify-content: left;
  }
}
