.our-advantages {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  padding: 94px 0;
  list-style-type: none;
  
}

.our-advantages__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-white);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  flex-direction: wrap;
}

.our-advantages__icons--properties {
  width: 65.32px;
  height: 70px;
  justify-content: center;
}

.our-advantages__headers {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--black2);
  text-align: left;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: wrap;
}

.our-advantages__text {
  color: var(--silver);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.3px;
  width: 270px;
  height: 75px;
  display: flex;
  flex-direction: wrap;
}

@media screen and (max-width:768px) {
  .our-advantages {
    padding: 60px 0;
  }

  .our-advantages__icons {
    width: 100%;
    height: 120px;
  }

  .our-advantages__headers {
    text-align: center;
  }

  .our-advantages__text {
    width: 450px;
    text-align: center;
    height: 50px;
  }
}
