.our-advantages {
  display: flex;
  gap: 30px;
  padding: 94px 0;
  list-style-type: none;
  justify-content: center;
  width: 100%;
}

.our-advantages__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
  padding: 0;
}

.our-advantages__item {
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-advantages__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-white);
  width: 100%;
  height: 120px;
  border-radius: 4px;
  flex-wrap: wrap;
}

.our-advantages__icons--properties {
  justify-content: center;
  flex-wrap: wrap;
}

.our-advantages__headers {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--black2);
  text-align: left;
  letter-spacing: 0.03em;
  display: flex;
  flex-wrap: wrap;
}

.our-advantages__text {
  color: var(--silver);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.3px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .our-advantages {
    padding: 60px 0;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    max-width: 768px;
  }

  .our-advantages__list {
    flex-direction: column;
    max-width: 100%;
    flex-wrap: wrap;
  }

  .our-advantages__item {
    max-width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .our-advantages__icons {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .our-advantages__headers {
    text-align: center;
    justify-content: center;
  }

  .our-advantages__text {
    width: 450px;
    text-align: center;
    height: 50px;
  }
}
