.our-advantages {
  display: flex;
  list-style-type: none;
  justify-content: center;
  width: calc(100% - 30px);
  padding: 60px 0px;
  flex-wrap: wrap;
  flex-direction: column;
}

.our-advantages__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: calc(100% - 30px);
  justify-content: center;
  gap: 30px;
  padding: 0;
}

.our-advantages__item {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.our-advantages__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-white);
  width: 100%;
  height: 120px;
  border-radius: 4px;
  flex-wrap: wrap;
}

.our-advantages__icons--properties {
  justify-content: center;
  flex-wrap: wrap;
}

.our-advantages__headers {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--black2);
  text-align: left;
  letter-spacing: 0.03em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-advantages__text {
  color: var(--silver);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.3px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .our-advantages {
    padding-top: 60px;
    flex-direction: row;
  }

  .our-advantages__list {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }

  .our-advantages__item {
    width: calc((100% / 2) - 15px);
  }

  .our-advantages__headers {
    justify-content: left;
    flex-wrap: wrap;
  }

  .our-advantages__text {
    width: 100%;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .our-advantages {
    padding: 94px 0;
    flex-direction: row;
  }

  .our-advantages__list {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }

  .our-advantages__item {
    width: calc((100% / 4) - 23px);
  }

  .our-advantages__headers {
    justify-content: left;
    flex-wrap: wrap;
  }

  .our-advantages__text {
    width: 100%;
    text-align: left;
  }
}
