.our-team-section {
  background-color: var(--second-white);
  display: flex;
  flex-direction: column;
  padding: 94px 0;
}

.our-team-section__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}

.our-team-section__photos {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
}
.our-team-section__photos--properties {
  background-color: var(--main-white);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(238, 238, 238, 1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 100%;
}

.our-team-section__photos--names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: Center;
  color: var(--black2);
}

.our-team-section__photos--job-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: Center;
  color: var(--silver);
  width: 100%;
}

.our-team-section__icon-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}

.our-team-section__icons {
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    background-color: var(--blue);
    fill: var(--main-white);
    cursor: pointer;
    border-radius: 50%;
  }

  &:hover svg,
  &:focus svg {
    fill: var(--main-white);
    cursor: pointer;
  }
}

.our-team-section__icons-properties {
  fill: var(--icons);
  width: 20px;
  height: 20px;
}

.our-team__images {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .our-team-section {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .our-team-section__photos {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }

  .our-team-section__photos--properties {
    width: calc((100% / 2) - 20px);
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-section {
    padding: 60px 0;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .our-team-section__header {
    font-size: 28px;
    padding-bottom: 30px;
    flex-wrap: wrap;
  }

  .our-team-section__photos {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  .our-team-section__photos--properties {
    width: calc((100% / 4) - 30px);
    flex-wrap: wrap;
  }

  .our-team-section__icon-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 24px;
  }

  .our-team-section__icons-properties {
    fill: var(--icons);
    width: 20px;
    height: 20px;
  }
}
