.segments {
  display: flex;
  flex-direction: column;
  padding-bottom: 94px;
}

.segments__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}

.segments__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.segments__additional-block {
  position: relative;
  display: flex;
  flex-direction: row;
}

.segments__additional-block--properties {
  position: absolute;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.segments__additional-block--text {
  font-size: 14px;
  line-height: 1.17px;
  font-weight: 700;
  color: var(--main-white);
  text-align: center;
  padding: 27px 90px;
  letter-spacing: 0.03em;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .segments {
    display: none;
  }
}
