.social-links {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.social-links__header {
  color: var(--main-white);
  font-size: 14px;
  text-decoration: none;
  line-height: 1.17;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-top: 60px;
}

.social-links__icon-list {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.social-links__icons {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  flex-direction: row;
  padding: 0;

  &:hover,
  &:focus {
    background-color: var(--blue);
    cursor: pointer;
  }
}

.social-links__icons--features {
  width: 20px;
  height: 20px;
  background-color: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
}

@media screen and (min-width: 1200px) {
  .social-links {
    margin-left: 70px;
  }

  .social-links__header {
    justify-content: flex-start;
    margin-top: 12px;
    padding: 0;
    margin-left: 0;
  }
}
