body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  margin: 0;
}

a:link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.d-none {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
