body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  margin: 0;
}

a:link {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
}

.d-none {
  display: none;
}

.margin {
  margin: 0 auto;
}
