:root {
  --black2: #212121;
  --black: #000000;
  --blue: #2196f3;
  --background: #2f303a;
  --main-white: #ffffff;
  --second-white: #f5f4fa;
  --silver: #757575;
  --icons: rgba(175, 177, 184, 1);

  --mobile: 400px;
  --tablet: 768px;
  --desktop: 1200px;
}
